<main>
    <div class="calendar-container">
        <div class="calendar-container__header">
            <button class="calendar-container__btn calendar-container__btn--left" title="Previous">
                
            </button>
            <h2 class="calendar-container__title">Login</h2>
            <button class="calendar-container__btn calendar-container__btn--right" title="Next">
               
            </button>
        </div>
        <div class="calendar-container__body">
            <div class="calendar-table">
                <div class="calendar-table__header">
                    <div class="calendar-table__row">
                        <div class="calendar-table__col">
                        </div>
                    </div>
                </div>
                <div class="calendar-table__body">
                    <div class="calendar-table__row">
                        <form class='calendar-table__col'>
                            <div class="calendar-table__item">
                                <label for="name">Nome:</label>
                                {{input type="text" value=identification id="name"}}
                            </div>
                            <div class="calendar-table__item">
                                <label for="senha">Senha:</label>
                                {{input type="password" value=password id="password" }}
                            </div>
                            <div class="calendar-table__item">
                                <button {{action 'login' model}} >Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>